body {
    margin: 0;
    padding: 0;
}
.main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-width: 1200px;
    min-height: 600px;
    position: relative;
}

.left_menu {
    margin: 0;
    padding: 0;
    height: 500px;
    width: 350px;
    left: 0;
    min-width: 350px;
    background-color: #092C45;
    background-image: url("res/cyberpunk-street-files/Left-v1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
}

.right-menu{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 350px;
    min-width: 350px;
    right: 0;
    position: absolute;
    background-color: #092C45;
    background-image: url("res/cyberpunk-street-files/Right-v1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
}

.main_screen{
    margin: 0;
    padding: 0;
    height: 500px;
    min-width: 700px;
    background-color:#092C45;
    position: absolute;
    left: 350px;
    right: 350px;
}

#div_main_canvas{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}


#main_canvas{
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.log{
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 500px;
    min-height: 100px;
    min-width: 1200px;
    position: absolute;
}

.buttonAdd {
    background-image: url("res/icons/+.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    width: 30px;
}

#info_bar_main{
    left: 0;
    right: 0;
    top: 0;
    min-height: 100px;
    position: absolute;
    color: white;
    font-size: 30px;
}

#DPS{
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
}

#Gold{
    top: 20px;
    left: 20px;
    position: absolute;
}

#StatsInfo{
    top: 252px;
    left: 20px;
    position: absolute;
}

#AdventurerInfo{
    top: 20px;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 260px;
}


#AttrBlock{
    top: 15px;
    left: 0;
    right: 15px;
    bottom: 0;
    position: absolute;
}


.infoText{
    color: aqua;
    height: 24px;
}

@media (max-width: 1400px){
    .main {
        width: 1400px;
    }

    .left_menu {
        width: 350px;
        left: 0;
    }

    .right-menu{
        width: 350px;
        right: 0;
        position: absolute;
    }

    .main_screen{
        left: 350px;
        width: 700px;
    }
}

@media (max-height: 600px) {

}
