body {
    margin: 0;
    padding: 0;
}
.main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
    min-height: 400px;
    position: relative;
}

.left_menu {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 20vw;
    left: 0;
    min-width: 200px;
    min-height: 400px;
    background-color: red;
    position: absolute;
}

.right-menu{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 20vw;
    min-width: 200px;
    min-height: 400px;
    right: 0;
    position: absolute;
}

.main_screen{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 600px;
    min-height: 400px;
    background-image: url("res/cyberpunk-street-files/cyberpunk-street.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    background-color:#092C45;
    position: absolute;
    left: 20vw;
    right: 20vw;
}

#div_main_canvas{
    margin: 0;
    border-color: black;
    border-style: groove;
    top: 40vh;
    bottom: 40vh;
    left: 0;
    right: 0;
    position: absolute;
}


#main_canvas{
    margin: 0;
    border-color: aliceblue;
    border-style: groove;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: 1000px){
    .main {
        width: 1000px;
        height: 600px;
    }

    .left_menu {
        width: 200px;
        left: 0;
    }

    .right-menu{
        width: 200px;
        right: 0;
        position: absolute;
    }

    .main_screen{
        left: 200px;
        width: 600px;
    }
}

@media (max-height: 400px) {
    #div_main_canvas{
        height: 400px;
        top: 100px;
    }
}
